body{
font-family: "Ubuntu", sans-serif; 
  background-image: url(../HW7/img/background.png); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.head-menu{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25);
padding: 18px 80px;
}
.head-logo-link{
    text-decoration: none;
}
.head-logo-text{
    color: #FFF;
font-family: Ubuntu;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 100% */
margin: 0;
}
.head-logo-text:hover{
color: #3cb878;
}
.head-nav-bar{
    display: flex;
}
.head-nav-list{
    display: flex;
    margin: 0;
    list-style: none;
    gap:24px;
    padding-left: 0;
    align-items: center;
}
.head-nav-link{
 display: block;
 width: min-content;
 height: min-content;
 background-repeat: no-repeat;
 color: #FFF;
}
.head-nav-link:hover{
 color: #3cb878;   
}
.head-nav-list::after {
    content: "";
    border-right: 1px solid rgb(255, 255, 255, 0.9);
    opacity: 0.5;
    width: 1px;
    height: 19px;
  }
  .head-text-decor{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 14px; /* 100% */ 
  }
  .header-link:hover{
    color: #3cb878;
  }
  .header-margin{
   margin-left: 24px; 
  }

  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 54px 0;
    width: 100vw;
    height: 100vh;
  }
  .form-container{
    position: relative;
    flex-direction: column;
    background-color: #FFF;
    display: flex;
    padding: 30px 60px 38px 60px;
    max-width: 444px;
    height: fit-content;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .form-sign-link{
justify-self: end;
margin-left: 216px;
  }
  .form-links{
text-decoration: none;
  color: #3CB878;
font-size: 14px;
line-height: 14px; /* 100% */
  } 
  .form-links:hover{
    color: #01813F;
    text-decoration: underline;
  }
  .button-wrap{
display: flex;
flex-wrap: wrap;
align-content: space-between;
  }
  .form-title::before{
content: "";
position: absolute;
top: 29px;
left: 0;
width: 18px;
height: 18px;
background-color: #3CB878;
  }
  .form-title{
   margin: 0;
   color: #434343; 
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
margin-bottom: 15px;
  }

  .decor-button{
display: flex;
align-items: center;
color:#FFF;
line-height: 16px;
  }
  .facebook{
    display: flex;
    border: none;
    align-items: center;
    background-color:#305DB8 ;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    max-width: 160px;
    max-height: 50px;
    padding: 11px 22px 10px 10px;
  }
  .facebook:hover{
   background-color: #022263; 
  }
  .decor-button::before{
 content: "";
 border-right: 1px solid #0a162f;
 height: 28px;
 opacity: 0.1;
 margin-right: 18px;
 margin-left: 14px;
  }
  .google{
    display: flex;
    border: none;
    align-items: center;
    padding: 10px 26px 10px 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: #DF4A32;
    cursor: pointer;
    max-width: 160px;
  }
  .decor-text-btn__google::before{
 margin-right: 30px;

  }
  .google:hover{
  background-color: #AB1F09;
  }
  .decor-text-google::before {
    padding-left: 8px;
  }
  
  .text-or{
 text-align: center;
  color: #848484;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  position: absolute;
  background-color: #fff;
  padding: 0 4px;
  }
  .text-or-wrap{
position: relative;
display: flex;
justify-content: center;
top: 31px;
  }
.text-or-wrap::before {
  content: "";
  display: block; 
 width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  top: 8px;
  }
  .first-name-input{
    margin-top: 57px;
  }
  .input-style{
    height: 44px;
    width: 324px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
    padding: 15px 20px;
    color: #434343;
    font-size: 14px;
  }
  .input-style:focus{
    box-shadow: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    border: 0;
    color: #434343;
  }
  .input-style::placeholder{
    color: #BEBEBE;
  }
  .label-input{
   display: block;
   margin-bottom: 15px; 
  }
  .label-input-x{
   margin-bottom: 12px; 
  }
  .checkbox{
   position: relative; 
  }
  .checkbox__input{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }
  .checkbox__label{
    color: #434343;
    font-size: 14px;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .checkbox__label::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    border: 1px solid#f2f2f2;
    background-color: #FFF;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  .checkbox__label::after{
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url(../HW7/img/Vector\ 1.svg)no-repeat;
    background-size: 14px 14px;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 5px;
  }
  .checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
  }
  .button__create__account{
    color: #FFF;
    font-size: 16px;
    line-height: 16px; /* 100% */
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    border: none;
    cursor: pointer;
  }
  .button__create__account:hover{
background-color: #01813F;
  }
.transition_style{
  transition: color 350ms;
  transition: background-color 350ms;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 350ms;
}